/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: purple;
    margin-bottom: 20px;
}

li {
    width: 90px;
    height: 90px;
    display: inline-flex;
    background-color: lightblue;
    margin: 4px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;

}

.fizz {
    background-color: green;
}

.buzz {
    background-color: blue;
}

.fizzbuzz {
    background-color: red;
}